
#fridge{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255, 255, 255, 0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }

    button:hover{
        border-color: rgb(0, 0, 0);
    }

@media all and (max-width:30em){
    button{
        display:block;
        margin:0.2em auto;
    }
}

.draggable{
    position:absolute;
    width: 50px;
    height: 50px;
    cursor: move;
    left: 0px;
    top: 0px;
}
